body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}
h1{
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
    line-height: 2;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding: 10px;
}
h3{
    margin: 5;
    font-family: 'Montserrat', sans-serif;
    color: #11999E;

}
p{
    font-family: 'Montserrat', sans-serif; 
    font-weight: bold;
    line-height: 3;
}
hr{
    border: dotted #cbd6d6 6px;
    border-bottom: none;
    width: 4%;
    margin: 55px auto;
}
.top-container{
    background-color: #CDF0EA;
    position: relative;
    padding: 100px;
}
.middle-container{
    margin: 100px 0px;
}
.bottom-container{
    background-color: #afe1e1;
    padding: 50px 0px 20px;
}
.bottom-cloud{
    position: absolute;
    left: 400px;
    bottom: 350px;
}
.top-cloud{
    position: absolute;
    right: 400px;
    top: 75px;
    
}
.skill-row{
    width: 50%;
    margin: 50px auto 100px auto;
    text-align: left;
    line-height: 3;
}
.profile-pic{
    width: 200px;
}
.web-pic{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.ML-pic{
    width: 25%;
    float: right;
    margin-left: 30px;
}
.btn {
    background: #11CDD2;
    background-image: -webkit-linear-gradient(top, #74c1c4, #2678ab);
    background-image: -moz-linear-gradient(top, #74c1c4, #2678ab);
    background-image: -ms-linear-gradient(top, #74c1c4, #2678ab);
    background-image: -o-linear-gradient(top, #74c1c4, #2678ab);
    background-image: linear-gradient(to bottom, #74c1c4, #2678ab);
    -webkit-border-radius: 11;
    -moz-border-radius: 11;
    border-radius: 11px;
    font-family: 'Montserrat', sans-serif; 
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
.btn:hover {
    background: #1cdbbe;
    background-image: -webkit-linear-gradient(top, #1cdbbe, #218f7b);
    background-image: -moz-linear-gradient(top, #1cdbbe, #218f7b);
    background-image: -ms-linear-gradient(top, #1cdbbe, #218f7b);
    background-image: -o-linear-gradient(top, #1cdbbe, #218f7b);
    background-image: linear-gradient(to bottom, #1cdbbe, #218f7b);
    text-decoration: none;
}
a{
    color:#3e8796 ;
    margin: auto 100px auto 100px ;
    font-family: 'Montserrat', sans-serif; 
    font-weight: bold;
    text-decoration:none;
}
a:hover{
    color: #f7feff;
    text-decoration:underline;
}
.copyright{
    color:#ffffff ;
    font-size: 0.87rem;
    font-weight: lighter;
}
/* .container{
    position: relative;
    height: 400px;
    width: 400px;
    background-color: gray;
}
.red{
    height: 200px;
    width: 200px;
    position: absolute;
    right: 0;
    background-color: red;
} */
